* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
    color: white;
}
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    pointer-events: none;
}
